.movies-card-list {
    width: 100%;
    min-height: 371px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px 24px;
    margin: 0 auto;
    padding: 70px 70px 30px;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 1279px) {
    .movies-card-list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 36px;
      padding-left: 30px;
      padding-right: 30px;
      min-height: 290px;
    }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    min-height: 306px;
  }
}
