.register-and-login {
    max-width: 396px;
    min-height: 575px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.register-and-login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    text-align: left;
    margin: 40px 0;
}

@media screen and (max-width: 767px) {
    .register-and-login__title {
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
    }
}

.register-and-login__sign {
    display: flex;
    justify-content: center;
    margin: 0 auto 70px;
}

@media screen and (max-width: 1023px) {
    .register-and-login__sign {
        margin-bottom: 232px;
    }
}

@media screen and (max-width: 767px) {
    .register-and-login__sign {
        margin-bottom: 30px;
    }
}

.register-and-login__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #A0A0A0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .register-and-login__text {
        font-size: 12px;
        line-height: 15px;
    }
}

.register-and-login__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #2BE080;
    text-decoration: none;
    margin-left: 6px;
    opacity: 1;
}

.register-and-login__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

@media screen and (max-width: 767px) {
    .register-and-login__link {
        font-size: 12px;
        line-height: 15px;
    }
}
