.register-and-login {
    max-width: 396px;
    min-height: 575px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.register-and-login__title {
    text-align: left;
    margin: 40px 0;
}

@media screen and (max-width: 767px) {
    .register-and-login__title {
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
    }
}

.register-and-login__name-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.register-and-login__name-area_hidden {
    display: none;
}

.register-and-login__sign {
    display: flex;
    justify-content: center;
    margin: 0 auto 70px;
}

@media screen and (max-width: 1023px) {
    .register-and-login__sign {
        margin-bottom: 232px;
    }
}

@media screen and (max-width: 767px) {
    .register-and-login__sign {
        margin-bottom: 30px;
    }
}

.register-and-login__sign-text {
    color: #A0A0A0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .register-and-login__sign-text {
        font-size: 12px;
        line-height: 15px;
    }
}

.register-and-login__sign-link {
    color: #2BE080;
    text-decoration: none;
    margin-left: 6px;
}

@media screen and (max-width: 767px) {
    .register-and-login__sign-link {
        font-size: 12px;
        line-height: 15px;
    }
}
