.profile {
    width: 100%;
    min-height: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.profile__title {
    margin: 74px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .profile__title {
        margin-top: calc((100vw - 768px) / (1279 - 768) * (74 - 236) + 236px);
    }
}

@media screen and (max-width: 767px) {
    .profile__title {
        margin-top: calc((100vw - 320px) / (767 - 320) * (236 - 70) + 70px);
    }
}

.profile-form {
    width: 410px;
    margin-top: 123px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "name-input user-name"
        "name-input-error name-input-error"
        "email-input user-email"
        "email-input-error email-input-error"
        "submit-button submit-button";
}

@media screen and (max-width: 1279px) {
    .profile-form {
        margin-top: calc((100vw - 768px) / (1279 - 768) * (123 - 96) + 96px);
    }
}

@media screen and (max-width: 470px) {
    .profile-form {
        width: calc((100vw - 320px) / (470 - 320) * (410 - 260) + 260px);
        margin-top: 80px;
    }
}

.profile-form__hint_user-name {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    text-align: right;
    color: #000000;
    grid-area: user-name;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-form__hint_user-email {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    text-align: right;
    color: #000000;
    grid-area: user-email;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-form__input {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;
    text-align: left;
    color: #000000;
    border: none;
    padding: 0;
    outline: none;
}

.profile-form__input_name {
    grid-area: name-input;
}

.profile-form__input_email {
    grid-area: email-input;
    margin-top: 16px;
}

.profile-form__input_error,
.profile-form__input-error_active {
    color: #EE3465;
    outline-color: #EE3465;
}

.profile-form__input-error {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    text-align: right;
}

.profile-form__input-error_name {
    grid-area: name-input-error;
    width: 410px;
    min-height: 13px;
    margin: 3px 0;
    text-align: left;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 470px) {
    .profile-form__input-error_name {
        width: calc((100vw - 320px) / (470 - 320) * (410 - 260) + 260px);
    }
}

.profile-form__input-error_email {
    grid-area: email-input-error;
    margin: 3px 0;
    text-align: left;
}

.profile__text {
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
}

@media screen and (max-width: 470px) {
    .profile__text {
        font-size: 12px;
        line-height: 15px;
    }
}

.profile-form__submit-button {
    grid-area: submit-button;
    margin-top: 200px;
    border: none;
    background: none;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    opacity: 1;
}

.profile-form__submit-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

@media screen and (max-width: 1279px) {
    .profile-form__submit-button {
        margin-top: 190px;
    }
}

@media screen and (max-width: 470px) {
    .profile-form__submit-button {
        margin-top: calc((100vw - 320px) / (767 - 320) * (190 - 372) + 372px);
    }
}

.profile__signOut-link {
    font-weight: 500;
    color: #EE3465;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0 0;
    opacity: 1;
}

.profile__signOut-link:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}
