.form {
    min-height: 266px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form__input-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__input-area_hidden {
    display: none;
}

.form__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding: 0 0 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    outline: none;
}

.form__input:focus {
    border-bottom: 1px solid #2BE080;
}

.form__input_hidden {
    visibility: hidden;
}

.form__input-hint {
    min-height: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: left;
    color: #A0A0A0;
    margin-bottom: 5px;
}

.form__input-error {
    min-height: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: left;
    margin: 6px 0;
}

.form__input_error, .form__input-error_active {
    color: #EE3465;
}

.form__input_error:focus {
    border-bottom: 1px solid #EE3465;
}

.form__submit-button {
    width: 396px;
    height: 45px;
    margin: 129px auto 16px;
    padding: 0;
    background-color: #2BE080;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    opacity: 1;
}

.form__submit-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

@media screen and (max-width: 767px) {
    .form__submit-button {
        width: 260px;
        margin: 215px auto 14px;
        font-size: 12px;
        line-height: 15px;
    }
}

.form__submit-button_logIn {
    margin-top: 197px;
}

@media screen and (max-width: 767px) {
    .form__submit-button_logIn {
        margin-top: 285px;
    }
}

.form__submit-button_inactive {
    background: #E8E8E8;
    color: #000000;
    cursor: default;
    opacity: 0.4;
}

.form__submit-button_inactive:hover {
    opacity: 0.4;
}