.texts__text_10-12-reg {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: left;
}

.texts__text_11-13-reg {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    text-align: right;
}

.texts__text_11-13-med {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;
    text-align: left;
}

.texts__text_12-16-med {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

.texts__text_13-16-reg {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    margin: 0;
}

.texts__text_13-18 {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    color: #000000;
    cursor: pointer;
}

.texts__text_14-17-reg {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.texts__text_14-17-med {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
}

.texts__text_14-20-reg {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #000000;
}