/* Заголовки в секции Main в компонентах Promo, Techs, AboutMe */
.title__50-58-reg {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    color: #000000;
    letter-spacing: -0.04em;
    margin: 0;
}

/* Заголовок в секции AboutProject */
.title__20-24-reg {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    color: #000000;
    letter-spacing: -0.04em;
    margin: 0;
}

/* Заголовки в секции Main в компонентах AboutProject, Techs, AboutMe вверху страницы */
.title__22-27-reg_underlined {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    text-align: left;
    color: #000000;
    padding: 0 0 23px;
    margin: 0;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 767px) {
    .title__22-27-reg_underlined {
        font-size: calc((100vw - 320px) / (767 - 320) * (22 - 18) + 18px);
        line-height: calc((100vw - 320px) / (767 - 320) * (27 - 22) + 22px);
        padding-bottom: calc((100vw - 320px) / (767 - 320) * (23 - 28) + 28px);;
    }
}

/* Заголовки в секции в компонентах InfoTooltip */
.title__24-29-med {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
}

.about-project__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    color: #000000;
    letter-spacing: -0.04em;
    margin: 0;
}