.portfolio {
    max-width: 1280px;
    display: flex;
    flex-direction: column;   
    margin: 100px 0 0;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    text-align: left;
    color: #A0A0A0;
    margin: 0;
}

.portfolio__list {
    margin: 30px 0 0;
    padding: 0;
    list-style-type: none;
}

.portfolio__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 0 19px;
}

.portfolio__list-item_underlined {
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__list-item-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.67;
    text-align: left;
    color: #000000;
    letter-spacing: -0.04em;
    margin: 0;
}

.portfolio__link {
    margin-top: 5px;
    margin-right: 3px;
    cursor: pointer;
    opacity: 1;
}

.portfolio__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.portfolio__link_img {
    width: 18px;
    height: 17px;
}
