.promo {
    max-width: calc(1280px - 2 * 40px);
    min-height: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0;
    background: #F5F5F5;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.promo__title {
    max-width: 730px;
    margin: 160px 0 0;
}
