.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__tab {
    display: flex;
    align-items: center;
}

.navigation__logo-link {
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: none;
}

.navigation__logo-link_logout {
    margin-left: -70px;
    margin-top: 70px;
}

@media screen and (max-width: 1279px) {
    .navigation__logo-link_logout {
        margin-left: calc((100vw - 768px)/(1279 - 768)*(30 - 70) - 30px);
        margin-top: calc((100vw - 768px)/(1279 - 768)*(70 - 232) + 232px);
    }
}

@media screen and (max-width: 767px) {
    .navigation__logo-link_logout {
        margin: 56px auto 0;
    }
}

.navigation__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .navigation__link {
        font-size: 10px;
    }
}

.navigation__link_hidden {
    display: none;
}

.navigation__reg-link {
    text-align: right;
}

.navigation__logIn-link {
    text-align: center;
}

.navigation__profile-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
}

.navigation__logIn-button {
    width: 76px;
    height: 32px;
    background: #2BE080;
    border: none;
    border-radius: 3px;
    padding: 0 0 4px;
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .navigation__logIn-button {
        width: 54px;
        height: 26px;
        margin-left: 14px;
    }
}

    .navigation__button_hidden {
        display: none;
    }

    .navigation__menu-button {
        display: none;
        width: 44px;
        height: 44px;
        background-image: url(../../../src/images/navigation-menu-button.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        border: none;
        object-fit: cover;
        padding: 0;
    }

    .navigation__menu-button_hidden {
        display: none;
    }

    @media screen and (max-width: 1023px) {
        .navigation__menu-button {
            display: block;
            width: 40px;
            height: 43px;
        }
    }
