.info-tooltip {
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    background-color: rgba(0,0,0,0.5);
}

.info-tooltip_opened {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.info-tooltip__container {
    width: 358px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 37px;
}

.info-tooltip__close-button {
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    background-image: url(../../images/info-tooltip-close-button.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    opacity: 1;
}

.info-tooltip__close-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.info-tooltip__image {
    width: 120px;
    height: 120px;
    margin: 26px auto 32px;
}

.info-tooltip__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 48px;
    text-align: center;
}
/* 
@media screen and (max-width: 767px) {
    .info-tooltip__container {
        width: 238px;
        padding: 25px 22px;
    }
}

@media screen and (max-width: 767px) {
    .info-tooltip__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}

@media screen and (max-width: 767px) {
    .info-tooltip__image {
        margin: 25px auto 40px;
    }
}

@media screen and (max-width: 767px) {
    .info-tooltip__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 25px;
    }
} */