@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/FilterCheckbox/FilterCheckbox.css);
@import url(./components/Form/Form.css);
@import url(./components/Titles/Titles.css);
@import url(./components/Text/Text.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/Promo/Promo.css);
@import url(./components/NavTab/NavTab.css);
@import url(./components/AboutProject/AboutProject.css);
@import url(./components/Techs/Techs.css);
@import url(./components/AboutMe/AboutMe.css);
@import url(./components/Portfolio/Portfolio.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components/MoviesCardList/MoviesCardList.css);
@import url(./components/MoviesCard//MoviesCard.css);
@import url(./components/MoreFilms/MoreFilms.css);
@import url(./components/EmptyComponent/EmptyComponent.css);
@import url(./components/Profile/Profile.css);
@import url(./components/RegisterAndLogin/RegisterAndLogin.css);
@import url(./components/Footer/Footer.css);
@import url(./components/InfoTooltip/InfoTooltip.css);
@import url(./components/Page404NotFound/Page404NotFound.css);

body {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}