.more-films {
    width: 100%;
    min-height: 166px;
    display: flex;
}

.more-films__button {
    width: 320px;
    height: 36px;
    background: none;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: #000000;
    padding: 0;
    margin: 50px auto 0;
    cursor: pointer;
    opacity: 1;
}

.more-films__button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}