.nav-tab__button {
    width: 96px;
    height: 36px;
    background: #E8E8E8;
    border: none;
    border-radius: 10px;
    margin: 0 5px 30px;
    padding: 0 0 4px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav-tab__button {
        width: calc((100vw - 320px)/(767 - 320)*(96 - 82) + 82px);
        height: calc((100vw - 320px)/(767 - 320)*(36 - 26) + 26px);
        margin-right: calc((100vw - 320px)/(767 - 320)*(5 - 3) + 3px);
        margin-left: calc((100vw - 320px)/(767 - 320)*(5 - 3) + 3px);
        margin-bottom: calc((100vw - 320px)/(767 - 320)*(30 - 17) + 17px);
        border-radius: 6px;
    }
}

.nav-tab__link {
    text-align: center;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav-tab__link {
        font-size: 10px;
        line-height: 16px;
    }
}